<div class="col1-4">
			<div class="jam module">
				<strong>{{name}}</strong>
				<div class="date">{{date}}</div>
				<div> <i class="fa fa-gamepad"></i> {{games}} / <i class="fa fa-user"></i> {{people}}</div>
			</div>
</div>
