/* Use the grey color for the background */
body {
  background-color: #E2E0E1;
}

/* Use white for the background of containers */
.container, .card {
  background-color: #fff;
}

/* Use the blue color for buttons and links */
.btn-primary, a {
  background-color: #6ACAD0;
  border-color: #6ACAD0;
}

/* Use a slightly darker version of the blue color for button hover effects */
.btn-primary:hover, a:hover {
  background-color: #5FA3AB;
  border-color: #5FA3AB;
}

/* Use the red color for the footer background */
footer {
  background-color: #EA3657;
}

/* Use the yellow color for h tags with padding */
h1, h2, h3, h4, h5, h6 {
  background-color: #EDDE44;
  padding: 5px;
}


.cc-zero {
    display: inline-block;
    margin-left: auto;
  }
  
  .cc-zero img {
    height: 31px;
    width: 88px;
  }