{{>header}}
<main class="container my-5">
  
  <div class="row">
    <div class="col-md-7">
      <h2>Why donate to Louisville Makes Games?</h2>
      <p>LMG is an <a href="code-of-conduct.html">inclusive community</a> which provides a support system to beginner and indie game creators in the Louisville, Kentucky area. We do this with an unpaid staff of volunteers.</p>
      
      <p  class="fw-bold">Help us continue to provide:</p>
      <ul>
        <li>Warp Zone Louisville Co-Working space</li>
        <li>Free Meetups</li>
        <li>Free Workshops</li>
        <li>Free Game Jams</li>
        <li>Free Industry Talks</li>
        <li>Free Youth Education Classes</li>
      </ul>

      <p>Your contribution helps us to continue providing these valuable resources and make them available to an even wider audience. Join us in building a vibrant community that empowers creators and cultivates innovation. Donate to Louisville Makes Games today!</p>

    </div>
    <div class="col-md-5">
      <h4>Ways to donate</h4>
      <div class="d-flex flex-column justify-content-center align-items-center">

<div class="mb-2">
          <a href="https://www.kroger.com/account/enrollCommunityRewardsNow" class="btn btn-lg btn-primary"  target="_blank">
            <i class="fas fa-shopping-cart mr-2"></i> Enroll in Kroger Community Rewards
          </a>
          <h5 class="fst-italic">A FREE way to help!</h5>
          <p>Enroll in the Kroger Community Rewards program and a percentage of your purchases will be donated to LMG at no additional cost to you.</p>
        </div>


        <div class="mb-2">
          <a href="https://www.paypal.me/louisvillemakesgames" class="btn btn-lg btn-primary"  target="_blank">
            <i class="fab fa-paypal mr-2"></i> Donate via PayPal
          </a>
          <h5 class="fst-italic">One-time donation</h5>
          <p>Donate securely through PayPal's platform. You can use your PayPal balance or credit card to donate.</p>
        </div>

        
        <div>
          <a href="https://www.patreon.com/LouisvilleMakesGames" class="btn btn-lg btn-primary"  target="_blank">
            <i class="fab fa-patreon mr-2"></i> Support us on Patreon
          </a>
          <h5 class="fst-italic">Recurring contributions</h5>
          <p>Become a patron and make a monthly contribution to support LMG's ongoing mission.</p>
        </div>
      </div>
    </div>
  </div>



</main>
{{>footer}}