{{>header}}

<main class="container my-5">
    <header class="container text-center my-5">
        <h1>Louisville Makes Games - Press Kit</h1>
        <p class="lead">Supporting the local game development scene for <span id="years-existed"></span> years. (Our community formed Jan, 2014)</p>

<script>
  document.getElementById("years-existed").textContent = new Date().getFullYear() - 2014;
</script>
 



    </header>

    <section class="container my-5">
        <h2>What is Louisville Makes Games?</h2>
        <p>Louisville Makes Games (LMG) is an inclusive community that connects and supports anyone in the Louisville,
            Kentucky area interested in game development. We foster creativity and collaboration through meetups,
            events, and our dedicated workspace, Warp Zone Louisville.</p>
        <p>We've been around since January 2014, helping game developers of all skill levels build, share, and promote
            their work.</p>
    </section>




    <section class="container my-5">
        <h2>Our Regular Meetups</h2>
        <p>We host monthly virtual and in-person meetups that are always free and open to the public. These meetups are
            a great way to connect with fellow game developers, learn new skills, and share your projects.</p>
        <p>Join us and take part in the ever-growing local game development community!</p>
    </section>

   <section class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Using the LMG Logos in Your Games</h2>
            <p>We encourage you to proudly display our logos in your games, especially if you've benefited from the support
            and community that Louisville Makes Games offers. Below, you'll find both vector and PNG versions of our
            logos, suitable for light and dark backgrounds.</p>
        </div>

        <div class="col-md-6">
            <h2>Logo Previews, Fonts, and Color Swatches</h2>
            <p>Below you can find previews of the logos, font information, color swatches, and download links for
            different sizes and formats.</p>
        </div>
    </div>
</section>



        <section class="logo-container">


                <h2>Louisville Makes Games</h2>

                <h4>Brand Colors:</h4>
                <div class="swatch-container">
                    <div class="swatch-box">
                        <div class="swatch" style="background-color: #6b6666;"></div>
                        <span class="swatch-text">#6b6666</span>
                    </div>
                    <div class="swatch-box"><div class="swatch" style="background-color: #edde44;"></div> <span
                        class="swatch-text">#edde44</span></div>
                    <div class="swatch-box"> <div class="swatch" style="background-color: #6acad0;"></div> <span
                        class="swatch-text">#6acad0</span></div>
                     <div class="swatch-box"><div class="swatch" style="background-color: #ea3657;"></div> <span
                        class="swatch-text">#ea3657</span></div>
                     <div class="swatch-box"><div class="swatch" style="background-color: #a39f9f;"></div> <span
                        class="swatch-text">#a39f9f</span></div>
                     <div class="swatch-box"><div class="swatch" style="background-color: #fffff;"></div> <span
                        class="swatch-text">#fffff</span></div>

                         <p><strong>Font:</strong><a href="https://www.dafont.com/bebas.font">Bebas</a></p>
                   
                </div>

               


            <div class="row row-cols-1 row-cols-md-4 g-4">

                    <div class="col">
                        <div class="card text-center h-100 bg-dark text-light">
                            <img src="img/logos/lmg/louisville-makes-games-logo-for-dark-bg-sm.png"
                                alt="Louisville Makes Games Dark BG" class="card-img-top">
                            <div class="card-body">
                                <p class="card-title">For use on dark backgrounds</p>
                                <p><strong>Download:</strong></p>
                                <p>
                                    <a href="img/logos/lmg/louisville-makes-games-logo-for-dark-bg-lg.png"
                                        class="btn btn-outline-light btn-sm">Large (2500px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-logo-for-dark-bg-md.png"
                                        class="btn btn-outline-light btn-sm">Medium (1000px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-logo-for-dark-bg-sm.png"
                                        class="btn btn-outline-light btn-sm">Small (500px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-logo-for-dark-bg.svg"
                                        class="btn btn-outline-light btn-sm">SVG File</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card text-center h-100 bg-dark text-light">
                            <img src="img/logos/lmg/louisville-makes-games-logo-for-light-bg-sm.png"
                                alt="Louisville Makes Games Light BG" class="logo-lt-bg card-img-top">
                            <div class="card-body">
                                <p class="card-title">For use on light backgrounds</p>
                                <p><strong>Download:</strong></p>
                                <p>
                                    <a href="img/logos/lmg/louisville-makes-games-logo-for-light-bg-lg.png"
                                        class="btn btn-outline-light btn-sm">Large (2500px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-logo-for-light-bg-md.png"
                                        class="btn btn-outline-light btn-sm">Medium (1000px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-logo-for-light-bg-sm.png"
                                        class="btn btn-outline-light btn-sm">Small (500px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-logo-for-light-bg.svg"
                                        class="btn btn-outline-light btn-sm">SVG File</a>
                                </p>
                            </div>
                        </div>
                    </div>



                    <div class="col">
                        <div class="card text-center h-100 bg-dark text-light">
                            <img src="img/logos/lmg/louisville-makes-games-singl-color-logo-for-dark-bg-sm.png"
                                alt="Louisville Makes Games Single Color Dark BG" class="card-img-top">
                            <div class="card-body">
                                <p class="card-title">Single color for use on dark backgrounds</p>
                                <p><strong>Download:</strong></p>
                                <p>
                                    <a href="img/logos/lmg/louisville-makes-games-singl-color-logo-for-dark-bg-lg.png"
                                        class="btn btn-outline-light btn-sm">Large (2500px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-singl-color-logo-for-dark-bg-md.png"
                                        class="btn btn-outline-light btn-sm">Medium (1000px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-singl-color-logo-for-dark-bg-sm.png"
                                        class="btn btn-outline-light btn-sm">Small (500px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-singl-color-logo-for-dark-bg.svg"
                                        class="btn btn-outline-light btn-sm">SVG File</a>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card text-center h-100 bg-dark text-light">
                            <img src="img/logos/lmg/louisville-makes-games-single-color-logo-for-light-bg-sm.png"
                                alt="Louisville Makes Games Single Color Light BG" class="logo-lt-bg card-img-top">
                            <div class="card-body">
                                <p class="card-title">Single color for use on light backgrounds</p>
                                <p><strong>Download:</strong></p>
                                <p>
                                    <a href="img/logos/lmg/louisville-makes-games-single-color-logo-for-light-bg-lg.png"
                                        class="btn btn-outline-light btn-sm">Large (2500px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-single-color-logo-for-light-bg-md.png"
                                        class="btn btn-outline-light btn-sm">Medium (1000px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-single-color-logo-for-light-bg-sm.png"
                                        class="btn btn-outline-light btn-sm">Small (500px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-single-color-logo-for-light-bg.svg"
                                        class="btn btn-outline-light btn-sm">SVG File</a>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card text-center h-100 bg-dark text-light">
                            <img src="img/logos/lmg/louisville-makes-games-horzontal-logo-for-dark-bg-sm.png"
                                alt="Louisville Makes Games Horizontal Dark BG" class="card-img-top">
                            <div class="card-body">
                                <p class="card-title">Horizontal (Dark BG)
                                <p>
                                <p><strong>Download:</strong></p>
                                <p>
                                    <a href="img/logos/lmg/louisville-makes-games-horzontal-logo-for-dark-bg-lg.png"
                                        class="btn btn-outline-light btn-sm">Large (2500px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-horzontal-logo-for-dark-bg-md.png"
                                        class="btn btn-outline-light btn-sm">Medium (1000px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-horzontal-logo-for-dark-bg-sm.png"
                                        class="btn btn-outline-light btn-sm">Small (500px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-horzontal-logo-for-dark-bg.svg"
                                        class="btn btn-outline-light btn-sm">SVG File</a>
                                </p>
                            </div>
                        </div>
                    </div>




                    <div class="col">
                        <div class="card text-center h-100 bg-dark text-light">
                            <img src="img/logos/lmg/louisville-makes-games-horzontal-logo-for-light-bg-sm.png"
                                alt="Louisville Makes Games Horizontal Light BG" class="logo-lt-bg card-img-top">
                            <div class="card-body">
                                <p class="card-title">Horizontal (Light BG)</p>
                                <p><strong>Download:</strong></p>
                                <p>
                                    <a href="img/logos/lmg/louisville-makes-games-horzontal-logo-for-light-bg-lg.png"
                                        class="btn btn-outline-light btn-sm">Large (2500px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-horzontal-logo-for-light-bg-md.png"
                                        class="btn btn-outline-light btn-sm">Medium (1000px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-horzontal-logo-for-light-bg-sm.png"
                                        class="btn btn-outline-light btn-sm">Small (500px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-horzontal-logo-for-light-bg.svg"
                                        class="btn btn-outline-light btn-sm">SVG File</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card text-center h-100 bg-dark text-light">
                            <img src="img/logos/lmg/louisville-makes-games-horzontal-single-color-logo-for-dark-bg-sm.png"
                                alt="Louisville Makes Games Single Color Dark BG" class="card-img-top">
                            <div class="card-body">
                                <p class="card-title">Horizontal Single Color (Dark BG)</p>
                                <p><strong>Download:</strong></p>
                                <p>
                                    <a href="img/logos/lmg/louisville-makes-games-horzontal-single-color-logo-for-dark-bg-lg.png"
                                        class="btn btn-outline-light btn-sm">Large (2500px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-horzontal-single-color-logo-for-dark-bg-md.png"
                                        class="btn btn-outline-light btn-sm">Medium (1000px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-horzontal-single-color-logo-for-dark-bg-sm.png"
                                        class="btn btn-outline-light btn-sm">Small (500px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-horzontal-single-color-logo-for-dark-bg.svg"
                                        class="btn btn-outline-light btn-sm">SVG File</a>
                                </p>
                            </div>
                        </div>
                    </div>



                    <div class="col">
                        <div class="card text-center h-100 bg-dark text-light">
                            <img src="img/logos/lmg/louisville-makes-games-horzontal-single-color-logo-for-light-bg-sm.png"
                                alt="Louisville Makes Games Single Color Light BG" class="logo-lt-bg card-img-top">
                            <div class="card-body">
                                <p class="card-title">Horizontal Single Color (Light BG)</p>
                                <p><strong>Download:</strong></p>
                                <p>
                                    <a href="img/logos/lmg/louisville-makes-games-horzontal-single-color-logo-for-light-bg-lg.png"
                                        class="btn btn-outline-light btn-sm">Large (2500px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-horzontal-single-color-logo-for-light-bg-md.png"
                                        class="btn btn-outline-light btn-sm">Medium (1000px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-horzontal-single-color-logo-for-light-bg-sm.png"
                                        class="btn btn-outline-light btn-sm">Small (500px)</a><br>
                                    <a href="img/logos/lmg/louisville-makes-games-horzontal-single-color-logo-for-light-bg.svg"
                                        class="btn btn-outline-light btn-sm">SVG File</a>
                                </p>
                            </div>
                        </div>
                    </div>












            </div>
        </section>
    

        <!-- Warp Zone Louisville Section -->
        <section class="logo-container">
            <h2>Warp Zone Louisville</h2>


            <h4>Brand Colors:</h4>
            <div class="swatch-container">
                <div class="swatch-box"><div class="swatch" style="background-color: #6ccad0;"></div> <span class="swatch-text">#6ccad0</span></div>
                <div class="swatch-box"><div class="swatch" style="background-color: #5db7af;"></div> <span class="swatch-text">#5db7af</span></div>
                <div class="swatch-box"><div class="swatch" style="background-color: #4da49c;"></div> <span class="swatch-text">#4da49c</span></div>
                <div class="swatch-box"><div class="swatch" style="background-color: #2b2e2e;"></div> <span class="swatch-text">#2b2e2e</span></div>
                <div class="swatch-box"><div class="swatch" style="background-color: #ffffff;"></div><span class="swatch-text">#ffffff</span></div>
                
                
                <p><strong>Font:</strong><a href="https://www.dafont.com/lemon-milk.font">Lemon Milk</a></p>
            </div>

            <div class="row row-cols-1 row-cols-md-4 g-4">
                <!-- Standard Logo for Dark Backgrounds -->
                <div class="col">
                    <div class="card text-center h-100 bg-dark text-light">
                        <img src="img/logos/wz/WarpZoneLouisvilleLogo-for-dark-bg-sm.png"
                            alt="Warp Zone Louisville Standard Dark BG" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">Standard (Dark BG)</p>
                            <p><strong>Download:</strong></p>
                            <p>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-for-dark-bg-lg.png"
                                    class="btn btn-outline-light btn-sm">Large (2500px)</a><br>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-for-dark-bg-md.png"
                                    class="btn btn-outline-light btn-sm">Medium (1000px)</a><br>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-for-dark-bg-sm.png"
                                    class="btn btn-outline-light btn-sm">Small (500px)</a><br>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-for-dark-bg.eps"
                                    class="btn btn-outline-light btn-sm">EPS File</a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Standard Logo for Light Backgrounds -->
                <div class="col">
                    <div class="card text-center h-100 bg-dark text-light">
                        <img src="img/logos/wz/WarpZoneLouisvilleLogo-for-light-bg-sm.png"
                            alt="Warp Zone Louisville Standard Light BG" class="logo-lt-bg card-img-top">
                        <div class="card-body">
                            <p class="card-title">Standard (Light BG)</p>
                            <p><strong>Download:</strong></p>
                            <p>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-for-light-bg-lg.png"
                                    class="btn btn-outline-light btn-sm">Large (2500px)</a><br>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-for-light-bg-md.png"
                                    class="btn btn-outline-light btn-sm">Medium (1000px)</a><br>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-for-light-bg-sm.png"
                                    class="btn btn-outline-light btn-sm">Small (500px)</a><br>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-for-light-bg.eps"
                                    class="btn btn-outline-light btn-sm">EPS File</a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Flat Logo for Dark Backgrounds -->
                <div class="col">
                    <div class="card text-center h-100 bg-dark text-light">
                        <img src="img/logos/wz/WarpZoneLouisvilleLogo-flat-for-dark-bg-sm.png"
                            alt="Warp Zone Louisville Flat Dark BG" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">Flat (Dark BG)</p>
                            <p><strong>Download:</strong></p>
                            <p>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-flat-for-dark-bg-lg.png"
                                    class="btn btn-outline-light btn-sm">Large (2500px)</a><br>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-flat-for-dark-bg-md.png"
                                    class="btn btn-outline-light btn-sm">Medium (1000px)</a><br>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-flat-for-dark-bg-sm.png"
                                    class="btn btn-outline-light btn-sm">Small (500px)</a><br>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-flat-for-dark-bg.eps"
                                    class="btn btn-outline-light btn-sm">EPS File</a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Flat Logo for Light Backgrounds -->
                <div class="col">
                    <div class="card text-center h-100 bg-dark text-light">
                        <img src="img/logos/wz/WarpZoneLouisvilleLogo-flat-for-light-bg-sm.png"
                            alt="Warp Zone Louisville Flat Light BG" class="logo-lt-bg card-img-top">
                        <div class="card-body">
                            <p class="card-title">Flat (Light BG)</p>
                            <p><strong>Download:</strong></p>
                            <p>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-flat-for-light-bg-lg.png"
                                    class="btn btn-outline-light btn-sm">Large (2500px)</a><br>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-flat-for-light-bg-md.png"
                                    class="btn btn-outline-light btn-sm">Medium (1000px)</a><br>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-flat-for-light-bg-sm.png"
                                    class="btn btn-outline-light btn-sm">Small (500px)</a><br>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-flat-for-light-bg.eps"
                                    class="btn btn-outline-light btn-sm">EPS File</a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Side by Side Logo for Dark Backgrounds -->
                <div class="col">
                    <div class="card text-center h-100 bg-dark text-light">
                        <img src="img/logos/wz/WarpZoneLouisvilleLogo-side-by-side-for-dark-bng-sm.png"
                            alt="Warp Zone Louisville Side by Side Dark BG" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">Side by Side (Dark BG)</p>
                            <p><strong>Download:</strong></p>
                            <p>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-side-by-side-for-dark-bng-lg.png"
                                    class="btn btn-outline-light btn-sm">Large (2500px)</a><br>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-side-by-side-for-dark-bng-md.png"
                                    class="btn btn-outline-light btn-sm">Medium (1000px)</a><br>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-side-by-side-for-dark-bng-sm.png"
                                    class="btn btn-outline-light btn-sm">Small (500px)</a><br>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-side-by-side-for-dark-bg.eps"
                                    class="btn btn-outline-light btn-sm">EPS File</a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Side by Side Logo for Light Backgrounds -->
                <div class="col">
                    <div class="card text-center h-100 bg-dark text-light">
                        <img src="img/logos/wz/WarpZoneLouisvilleLogo-side-by-side-for-light-bng-sm.png"
                            alt="Warp Zone Louisville Side by Side Light BG" class="logo-lt-bg card-img-top">
                        <div class="card-body">
                            <p class="card-title">Side by Side (Light BG)</p>
                            <p><strong>Download:</strong></p>
                            <p>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-side-by-side-for-light-bng-lg.png"
                                    class="btn btn-outline-light btn-sm">Large (2500px)</a><br>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-side-by-side-for-light-bng-md.png"
                                    class="btn btn-outline-light btn-sm">Medium (1000px)</a><br>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-side-by-side-for-light-bng-sm.png"
                                    class="btn btn-outline-light btn-sm">Small (500px)</a><br>
                                <a href="img/logos/wz/WarpZoneLouisvilleLogo-side-by-side-for-light-bg.eps"
                                    class="btn btn-outline-light btn-sm">EPS File</a>
                            </p>
                        </div>
                    </div>
                </div>



        </section>



        <!-- Kentucky Game Developers Discord Section -->
        <section class="logo-container">
            <h2>Kentucky Game Developers Discord</h2>

            <h4>Brand Colors:</h4>
            <div class="swatch-container">
                 
                <div class="swatch-box"> <div class="swatch" style="background-color: #fd4451;"></div> <span class="swatch-text">#fd4451</span></div>
                <div class="swatch-box"><div class="swatch" style="background-color: #494343;"></div> <span class="swatch-text">#494343</span></div>
                <div class="swatch-box"> <div class="swatch" style="background-color: #ffffff;"></div> <span class="swatch-text">#ffffff</span></div>

                <p><strong>Font:</strong><a href="https://fonts.adobe.com/fonts/niveau-grotesk">Niveau Grotesk Medium (requires Adobe Membership)</a></p>
            </div>
            <div class="row row-cols-1 row-cols-md-4 g-4">

                <!-- For use on dark backgrounds -->
                <div class="col">
                    <div class="card text-center h-100 bg-dark text-light">
                        <img src="img/logos/kydev/kentucky-game-developers-discord-server-for-dark-bg-sm.png"
                            alt="KY Game Dev Discord Dark BG" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">For use on dark backgrounds</p>
                            <p><strong>Download:</strong></p>
                            <p>
                                <a href="img/logos/kydev/kentucky-game-developers-discord-server-for-dark-bg-lg.png"
                                    class="btn btn-outline-light btn-sm">Large (2500px)</a><br>
                                <a href="img/logos/kydev/kentucky-game-developers-discord-server-for-dark-bg-md.png"
                                    class="btn btn-outline-light btn-sm">Medium (1000px)</a><br>
                                <a href="img/logos/kydev/kentucky-game-developers-discord-server-for-dark-bg-sm.png"
                                    class="btn btn-outline-light btn-sm">Small (500px)</a><br>
                                <a href="img/logos/kydev/kentucky-game-developers-discord-server-for-dark-bg.svg"
                                    class="btn btn-outline-light btn-sm">SVG File</a>
                            </p>
                        </div>
                    </div>
                </div>


                <!-- For use on light backgrounds -->
                <div class="col">
                    <div class="card text-center h-100 bg-dark text-light">
                        <img src="img/logos/kydev/kentucky-game-developers-discord-server-for-light-bg-sm.png"
                            alt="KY Game Dev Discord Light BG" class="logo-lt-bg card-img-top">
                        <div class="card-body">
                            <p class="card-title">For use on light backgrounds</p>
                            <p><strong>Download:</strong></p>
                            <p>
                                <a href="img/logos/kydev/kentucky-game-developers-discord-server-for-light-bg-lg.png"
                                    class="btn btn-outline-light btn-sm">Large (2500px)</a><br>
                                <a href="img/logos/kydev/kentucky-game-developers-discord-server-for-light-bg-md.png"
                                    class="btn btn-outline-light btn-sm">Medium (1000px)</a><br>
                                <a href="img/logos/kydev/kentucky-game-developers-discord-server-for-light-bg-sm.png"
                                    class="btn btn-outline-light btn-sm">Small (500px)</a><br>
                                <a href="img/logos/kydev/kentucky-game-developers-discord-server-for-light-bg.svg"
                                    class="btn btn-outline-light btn-sm">SVG File</a>
                            </p>
                        </div>
                    </div>
                </div>






            </div>
        </section>


        <!-- Local Game Harvest Section -->
        <section class="logo-container">
            <h2>Local Game Harvest</h2>

            <h4>Brand Colors:</h4>
            <div class="swatch-container">
                 <div class="swatch-box"><div class="swatch" style="background-color: #000000;"></div> <span class="swatch-text">#000000</span></div>
                 <div class="swatch-box"><div class="swatch" style="background-color: #fdb825;"></div> <span class="swatch-text">#fdb825</span></div>
                 <div class="swatch-box"><div class="swatch" style="background-color: #ffffff;"></div> <span class="swatch-text">#ffffff</span></div>
            </div>
            {{!-- <p><strong>Font:</strong> Unknown</p> --}}

            <div class="row row-cols-1 row-cols-md-4 g-4">
                <!-- For use on dark backgrounds -->
                <div class="col">
                    <div class="card text-center h-100 bg-dark text-light">
                        <img src="img/logos/local-game-harvest/local-game-harvest-for-dark-bg-sm.png"
                            alt="Local Game Harvest Dark BG" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">For use on dark backgrounds</p>
                            <p><strong>Download:</strong></p>
                            <p>
                                <a href="img/logos/local-game-harvest/local-game-harvest-for-dark-bg-lg.png"
                                    class="btn btn-outline-light btn-sm">Large (2500px)</a><br>
                                <a href="img/logos/local-game-harvest/local-game-harvest-for-dark-bg-md.png"
                                    class="btn btn-outline-light btn-sm">Medium (1000px)</a><br>
                                <a href="img/logos/local-game-harvest/local-game-harvest-for-dark-bg-sm.png"
                                    class="btn btn-outline-light btn-sm">Small (500px)</a><br>
                                <a href="img/logos/local-game-harvest/local-game-harvest-for-dark-bg.svg"
                                    class="btn btn-outline-light btn-sm">SVG File</a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- For use on light backgrounds -->
                <div class="col">
                    <div class="card text-center h-100 bg-dark text-light">
                        <img src="img/logos/local-game-harvest/local-game-harvest-for-light-bg-sm.png"
                            alt="Local Game Harvest Light BG" class="logo-lt-bg card-img-top">
                        <div class="card-body">
                            <p class="card-title">For use on light backgrounds</p>
                            <p><strong>Download:</strong></p>
                            <p>
                                <a href="img/logos/local-game-harvest/local-game-harvest-for-light-bg-lg.png"
                                    class="btn btn-outline-light btn-sm">Large (2500px)</a><br>
                                <a href="img/logos/local-game-harvest/local-game-harvest-for-light-bg-md.png"
                                    class="btn btn-outline-light btn-sm">Medium (1000px)</a><br>
                                <a href="img/logos/local-game-harvest/local-game-harvest-for-light-bg-sm.png"
                                    class="btn btn-outline-light btn-sm">Small (500px)</a><br>
                                <a href="img/logos/local-game-harvest/local-game-harvest-for-light-bg.svg"
                                    class="btn btn-outline-light btn-sm">SVG File</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section>






        <section class="container my-5">
            <h2>Guidelines for Using Our Logos</h2>
            <p>Please follow these basic guidelines when using our logos:</p>
            <ul class="rules">
                <li>Ensure that the logos are clearly visible and not obstructed by other design elements.</li>
                <li>Use the appropriate version of the logo based on the background color (light vs. dark).</li>
                <li>Do not modify the logo's colors, proportions, or arrangement.</li>
                <li>If in doubt, reach out to us for approval of any uses outside these guidelines.</li>
            </ul>
        </section>

</main>

{{>footer}}