donate.module{
  @include bp(papa-bear) {
  padding-top: 45px;
  }

  @include bp(mama-bear) {
  padding-top: 45px;
  }
}

.paypal{

  .half{
    @include bp(baby-bear) {
        display: inline-block;
        float: left;
        padding-left: 5px;
        padding-right: 5px;
        width: 50%;
    }
  }
  .donate-btn{
    max-width: 150px;
    @include bp(baby-bear) {
        float: right;
        margin: 0 10% 0 0;
    }
  }
}
