.home-blocks{
	display: flex;
	flex-direction: row;
	@include bp(baby-bear) {
		flex-direction: column;
	}
}

.home-block{

	flex-direction: column;

	@include bp(papa-bear) {
		margin: 10px;
		border-radius: 8px 8px 0 0;

	}
	@include bp(mama-bear) {
		margin: 10px;
		border-radius: 8px 8px 0 0;

	}
	p{
		padding: 0 15px 20px 15px;
	}
}

.heading-block{
	width: 100%;
	padding: 4px 15px;
	color: white;
	border-radius: 8px 8px 0 0;
	@include bp(baby-bear) {
		border-radius: 0 !important;
	}
	h2, h3{
		color: white;
	}
	h2{
		@include bp(papa-bear) {
			font-size: 1.5rem;
	    }
		@include bp(mama-bear) {
			font-size: 1.3rem;
	    }
		@include bp(baby-bear) {
			font-size: 1.45rem;
	    }
	}
	h3{
		@include bp(papa-bear) {
	    	font-size: 1.3em;
	    }
		@include bp(mama-bear) {
			font-size: 1em;
	    }
		@include bp(baby-bear) {
			font-size: 1.17em;
	    }
	}
}
