<footer class="bg-dark text-light p-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <p>2023 Louisville Makes Games, Inc.</p>
        <p>501(c)3 non-profit organization<br>
          Louisville, Kentucky</p>
      </div>
      <div class="col-12 col-md-6 text-md-end">
        <div class="cc-zero">
          <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">
            <img src="https://licensebuttons.net/p/zero/1.0/88x31.png" alt="Creative Commons Zero">
          </a>
        </div>
        <p>This website is licensed under
          <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" rel="noopener">Creative Commons
            Zero</a>
        </p>
        <p>Feel free to view/use our source code on <a
            href="https://github.com/LouisvilleMakesGames/LouisvilleMakesGames.org" target="_blank"
            rel="noopener">GitHub</a></p>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>



</html>