<main class="container my-5 position-relative">
  <header class="position-relative">
    <!-- The large banner image as a background -->
    <div class="banner-container position-relative">
      <img src="img/Local Game Harvest mock 2.png" alt="Local Game Harvest Banner" class="img-fluid banner-image">

      <!-- Content on top of the banner -->
      <div class="overlay-content position-absolute w-100 h-100">
        <!-- The Local Game Harvest logo centered on the banner -->
        <img src="img/logos/local-game-harvest/local-game-harvest-for-dark-bg-md.png" alt="Local Game Harvest Logo" class="event-logo mb-4">

        <strong class="display-4">FRIDAY, NOVEMBER 1st, 2024, 6:00 PM - 11:00 PM</strong><br>
<h2>
  Resurfaced on Main <small>AKA Repurposed on Main</small> <small>AKA Baird Urban Sports Park</small>
  <br>
  615 W Main St, Louisville, KY 40202
</h2>



        </p>
        <p id="countdown" class="countdown-timer mt-4 display-5"></p>

        <!-- Event Details with Bootstrap Layout -->
        <section id="event-details" class="row">
          <!-- Event Details on the left (8 columns) -->
          <div class="col-md-8 text-white">
            <h2 class="mb-4">Free local indie games! Bring the whole family!</h2>
            <p class="event-info mt-4" id="event-info">
              <strong>FREE</strong> (Suggested donation of $15 if you can swing it)<br>
              <strong>ALL AGES</strong><br>
            </p>
          </div>

          <!-- Sidebar for RSVP Buttons (4 columns) -->
          <div class="col-md-4 d-flex flex-column align-items-center">
            <a href="https://www.meetup.com/louisvillemakesgames/events/302901062/?eventOrigin=group_upcoming_events" target="_blank" class="btn btn-fall btn-lg btn-block mb-3 d-flex align-items-center">
              <span class="emoji">📅</span><span class="ml-2">RSVP on Meetup</span>
            </a>
            <a href="https://www.facebook.com/events/louisville-makes-games/local-game-harvest/526963630284168/" target="_blank" class="btn btn-fall btn-lg btn-block d-flex align-items-center">
              <span class="emoji">👍</span><span class="ml-2">RSVP on Facebook</span>
            </a>

            <a href="local-game-harvest.html#games" target="_blank" class="btn btn-fall btn-lg btn-block d-flex align-items-center">
              <span class="emoji">🎮</span><span class="ml-2">Check out the Games!</span>
            </a>
          </div>
        </section>
      </div>
    </div>

    <p class="event-description">
      IT. IS. AUTUMN. That means it is time once again for us to harvest a bunch of cool video games made by YOUR neighbors for YOU TO PLAY!
      <br><br>
      This year's Local Game Harvest is BUSTIN' out of our quaint downtown co-working space and taking over the Urban Sports Park right on Main Street! If you see a wild light show and giant video games lighting up the walls, COME ON IN!
    </p>
    <a id="games"></a>     

    <!-- Event Location and Parking Info -->
    <section id="location" class="section">
<h2>
  Resurfaced on Main <small>AKA Repurposed on Main</small> <small>AKA Baird Urban Sports Park</small>
  <br>
  615 W Main St, Louisville, KY 40202
</h2>


      <!-- Row to place Map and Parking side by side -->
      <div class="row">
        <!-- Embedded Google Map (6 columns) -->
        <div class="col-md-6 mb-4">
          <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3154.120854666188!2d-85.763059!3d38.2574318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886973eac7b3292f%3A0x6afcfdbe4a2e4e99!2sRepurposed%20on%20Main!5e0!3m2!1sen!2sus!4v1698661312501!5m2!1sen!2sus"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <!-- Parking Information (6 columns) -->
        <div id="parking" class="col-md-6">
          <h4>Parking</h4>
          <img src="img/parking.png" alt="Warp Zone Louisville co-working space Louisville KY - parking options" class="img-fluid mb-3">
          
          <p>
            <i class="ion-md-square" style="background:#e9f165;"></i> Metered parking - West Washington St $2.25/hr (<a href="https://www.gotolouisville.com/travel-tools/transportation/go-502/" target="_blank">Go 502 app</a> code 3064)<br>
            <i class="ion-md-square" style="background:#e935a7;"></i> Science Center Lot - River Road $15/day<br>
            <i class="ion-md-square" style="background:#31c6ff;"></i> Triangle Lot - River Road $15/day<br>
            <i class="ion-md-square" style="background:#9537b7;"></i> Ali Center Garage $15/day<br>
            <i class="ion-md-square" style="background:#31ff9d;"></i> Kentucky Center Garage $15/day
          </p>
        </div>
      </div>
    </section>
  </header>
</main>

<!-- Countdown Timer Script -->
<script>
  function countdown() {
    const eventDate = new Date('November 1, 2024 18:00:00').getTime();
    const countdownElement = document.getElementById('countdown');
    
    const x = setInterval(function() {
      const now = new Date().getTime();
      const distance = eventDate - now;

      const days = Math.floor(distance / (1000 * 60 * 60 * 24));
      const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      const seconds = Math.floor((distance % (1000 * 60)) / 1000);

      countdownElement.innerHTML = `${days} Days ${hours} Hours ${minutes} Minutes ${seconds} Seconds`;

      if (distance < 0) {
        clearInterval(x);
        countdownElement.innerHTML = "The event has started!";
      }
    }, 1000);
  }

  countdown();
</script>
