
body{
padding: 0px;
margin: 0px;
display: flex;
min-height: 100vh;
  }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.center{
  margin: 0 auto;
}

.pad{
  padding: 10px;
}

body,
.wrapper {
  margin: 0 auto;
  max-width: 1400px;
}

.wrapper{
  margin: 0 auto;
  border: 1px solid white;

  @include bp(papa-bear) {
  width: 80%;
  }

  @include bp(mama-bear) {
  width: 100%;
  }

  @include bp(baby-bear) {
  min-width: 370px;
  max-width: 100%;
  }

}

.row{
  &:after{
    clear: both;
    display: table;
    content:"";
  }
}

.module{
  img{
    max-width: 100%;
  }
  margin: 5px;
}

.column{
  display: inline-block;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  img{
    width: 100% !important;
  }
}

.col1-1{
  @extend .column;
  width: 100%;
}

.col1-2{
  @extend .column;
  width: 50%;
  @include bp(mama-bear) {
    width: 50%;
  }
   @include bp(baby-bear) {
    width: 100%;
  }
}

.col1-3{
  @extend .column;
  width: 33.333%;
  @include bp(mama-bear) {
    width: 33.333%;
  }
  @include bp(baby-bear) {
    width: 100%;
  }
}

.col2-3{
  @extend .column;
  width: 66.666%;
  @include bp(mama-bear) {
    width: 66.666%;
  }
  @include bp(baby-bear) {
    width: 100%;
  }
}

.col1-4{
  @extend .column;
  width: 25%;
  @include bp(mama-bear) {
    width: 50%;
  }
 @include bp(baby-bear) {
    width: 100%;
  }
}

.col1-5{
  @extend .column;
  width: 20%;
  @include bp(mama-bear) {
    width: 20%;
  }
   @include bp(baby-bear) {
    width: 100%;
  }
}

.col1-6{
  @extend .column;
  width: 16.6666666667%;
  @include bp(mama-bear) {
    width: 16.6666666667%;
  }
   @include bp(baby-bear) {
    width: 100%;
  }
}
