<div class="row">

	<div class="col1-1">
		<div class="module">
			<h2>History</h2>
			<h3> By the numbers:</h3>
		<ul>
			<li>50 Meetups since 02/02/2014</li>
			<li>9 Game Jams since 01/24/2014 producing 56 game concepts</li>
			<li>12 kids programming classes taught since 12/06/2014</li>
		<li>5 Gallery events since 09/24/2014</li>
		<li>3 industry talks since 07/10/2014</li>
		<li>2 Incorporated Game Development Studios</li>
		<li>1 Networking event 06/09/2015</li>
		</ul>
		</div>
	</div>
</div>


<div class="row">
	<div class="col1-1">
		<div class="module">
			<h3> Game Jams </h3>
<div class="jams row">
			{{#each jams}}
			{{> jams}}
		{{/each}}
</div>


		</div>
	</div>

</div>
