<div class='row'>
	<div class='col1-2'>
		<div class="module">
			<h2>Nurturing</h2>
			<h3>Warp Zone</h3>
			<p>A game development co-working/education/event
				space right here in Louisville</p>
				<p>A safe space where game developers can work, play and grow.</p>
				<h3>Education</h3>
				<p>Classes and workshops where game developers learn from each other.</p>
			</div>
		</div>
		<div class='col1-2'>
			<div class="module">
				<h2>Connecting</h2>
				<h3><a href="http://gamedevlou.org">GameDevLou</a></h3>
				<p>A twice monthly meetup where you can connect with other developers.</p>
				<h3>Events<span>(per year)</span></h3>
				<div class="eventBullets row">
					<ul class="col1-2">
						<li><span>36</span> Educational classes</li>
						<li><span>4</span> Networking events</li>
						<li><span>5</span> Game hackathons</li>
					</ul>
					<ul class="col1-2">
						<li><span>12</span> Industry talks</li>
						<li><span>4</span> Gallery shows</li>
						<li><span>18</span> Play nights</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
