<h1>Louisville Makes Games!</h1>
<p>Growing Louisville's game development community</p>
{{>donate}}


<h2>Nurturing</h2>
<h3>Warp Zone</h3>
<p>A safe space where game developers can work, play and grow.</p>
<h3>Education</h3>
<p>Classes and workshops where game developers learn from each other.</p>

<h2>Connecting</h2>
<h3><a href="http://gamedevlou.org">GameDevLou</a></h3>
<p>A twice monthly meetup where you can connect with other developers.</p>
<h3>Events</h3>
<ul>
	<li>Shows</li>
	<li>Previous Events</li>
	<li>Game Jams</li>
</ul>
